Package: me.nepeta.exo
Name: Exo (Beta)
Depends: mobilesubstrate, firmware (>= 11.0)
Version: 0.2.0
Architecture: iphoneos-arm
Description: Information provider for WKWebView-based widgets.
Maintainer: Nepeta
Author: Nepeta
Section: Development (Nepeta)
